name: Cloud Forge Static
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Static ARM64 Binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: build
          target: aarch64-unknown-linux-musl
          args: "--release"
        env:
          OPENSSL_STATIC: 1
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nexus-bin-static
          # The '*' wildcard ensures we grab the binary regardless of the name
          path: "target/aarch64-unknown-linux-musl/release/nexus*"
